In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_dir = '../Submited'

name_1 = 'lgb_20191129'
name_2 = 'cat_20191128'

data_list = [pd.read_csv(os.path.join(data_dir, 'submission_from_nb_{}.csv'.format(name))) for name in [name_1, name_2]]

In [3]:
data_list[0].head()

   row_id  meter_reading
0       0     126.283244
1       1      53.087187
2       2      18.671536
3       3     130.848765
4       4     604.438359

In [4]:
print(data_list[0].shape)
print(data_list[1].shape)

(41697600, 2)
(41697600, 2)

In [5]:
def stacking(data_list):
    pred = np.zeros(len(data_list[0]))
    for i in range(len(data_list)):
        pred += data_list[i]['meter_reading'].values / len(data_list)
    
    return pred

In [6]:
sub = pd.read_csv('../input/sample_submission.csv')
sub['meter_reading'] = stacking(data_list)

In [7]:
sub.head()

   row_id  meter_reading
0       0     137.493435
1       1      60.232615
2       2      13.355832
3       3     154.600001
4       4     741.512592

In [8]:
sub_name = 'Stacking_' + name_1 + '_' + name_2 + '.csv'
sub.to_csv(os.path.join(data_dir, sub_name), index=False)