In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_dir = '../Submited'

name_1 = 'lgb_20191125'
name_2 = 'cat_20191120'

data_list = [pd.read_csv(os.path.join(data_dir, 'submission_from_nb_{}.csv'.format(name))) for name in [name_1, name_2]]

In [3]:
data_list[0].head()

   row_id  meter_reading
0       0     137.809532
1       1      65.480038
2       2      16.764799
3       3     147.837872
4       4     686.982069

In [4]:
print(data_list[0].shape)
print(data_list[1].shape)

(41697600, 2)
(41697600, 2)

In [5]:
sub = pd.read_csv('../input/sample_submission.csv')
sub.shape

(41697600, 2)

In [6]:
def stacking(data_list):
    pred = np.zeros(len(data_list[0]))
    for i in range(len(data_list)):
        pred += data_list[i]['meter_reading'].values / len(data_list)
    
    return pred

In [7]:
sub = pd.read_csv('../input/sample_submission.csv')
sub['meter_reading'] = stacking(data_list)

In [8]:
sub.head()

   row_id  meter_reading
0       0     148.922202
1       1      74.675156
2       2      21.829993
3       3     143.129974
4       4     547.326081

In [9]:
sub_name = 'Stacking_' + name_1 + '_' + name_2 + '.csv'
sub.to_csv(os.path.join(data_dir, sub_name), index=False)