In [13]:
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
data_dir = '../Output'

name_1 = 'nb_lgb_20191205'
name_2 = 'kernel'

data_list = [pd.read_csv(os.path.join(data_dir, 'submission_from_{}.csv'.format(name))) for name in [name_1, name_2]]

In [5]:
data_list[0].head()

   row_id  meter_reading
0       0     115.288811
1       1      58.257966
2       2      40.319811
3       3     108.357060
4       4     300.086200

In [6]:
print(data_list[0].shape)
print(data_list[1].shape)

(41697600, 2)
(41697600, 2)

In [7]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
a = data_list[0]['meter_reading']
b = data_list[1]['meter_reading']
res = a.corr(b)
res

0.3867240395270671

In [10]:
a = pd.merge(data_list[0], data_list[1], on='row_id')

In [15]:
a.head()

   row_id  meter_reading_x  meter_reading_y
0       0       115.288811         173.3703
1       1        58.257966          53.5127
2       2        40.319811           6.1430
3       3       108.357060         101.7015
4       4       300.086200        1141.2407

In [18]:
preds = 0.1 * data_list[0]['meter_reading'] + 0.9 * data_list[1]['meter_reading']
sub = pd.read_csv('../input/sample_submission.csv')
sub['meter_reading'] = preds

In [19]:
sub.head()

   row_id  meter_reading
0       0     167.562151
1       1      53.987227
2       2       9.560681
3       3     102.367056
4       4    1057.125250

In [20]:
sub_name = 'Stacking_' + name_1 + '_' + name_2 + '.csv'
sub.to_csv(os.path.join(data_dir, sub_name), index=False)